config:
	service_account:
		display_name: Google Service Account
		description: "Cesta k service account JSON súboru patriacemu projektu, cez ktorý má Google Play konzola posielať notifikácie o platbách <i>(napr. <code>/data/web/example/credentials.json</code>)</i>."
	users:
		prevent_anonymization:
			name: Zabrániť anonymizácii používateľa s aktívnym Google Play predplatným
			description: Zabráni anonymizácii používateľa v prípade ak má aktívne Google Play predplatné

frontend:
	stop_recurrent_payment_info_widget:
		info_button: Ako zastaviť opakovanie
		modal_title: Zastaviť opakovanie platby
		modal_text_manual: 'Pozrite si <a class="link" href="https://support.google.com/googleplay/answer/7018481" target="_blank" style="font-weight: bold; color: #b00c28;">návod</a>, ako zastaviť platbu v Google Play.'
		close: Zatvoriť

data_provider:
	delete:
		active_subscription: Používateľ má aktívne predplatné cez Google Play a nemôže byť zmazaný
